@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background: url('./images/background1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    position: relative;
}

.header {
    margin: 40px 0;
    color: #f5e7aa;
    text-shadow: 3px 3px black;
    font-size: 25px;
}

.display-scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 30px 0 10px 0;
    font-size: 30px;
}

.p1-score,  
.p2-score {
    padding-top: 15px;
    color: #f5e7aa;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 10px 0;
    width: fit-content;
}

.individual-box {
    border: 2px solid #f5e7aa;
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 6px;
    background-color: #353730;
}

.mario {
    background-color: #7d4b4b;
    font-size: 5rem;
}

.mario::before {
    content: url('./images/super-mario.svg')
}

.luigi {
    background-color: #526651;
    font-size: 5rem;
}

.luigi::before {
    content: url('./images/luigi.svg');
}

.result-display {
    background-color: #f5e7aa;
    height: 40px;
} 

.result{
    color: rgb(42, 39, 39);
    margin: 0 auto 30px auto;
    font-size: 20px;
    padding: 10px 0;
    letter-spacing: 2px;
} 

.display1 {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    background-color: #2c2d28;
}

.display2 {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    background-color: #2c2d28;
    
}

button {
    color: #2c2d28;
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: #f5e7aa;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px black;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #9e956d;
}

footer {
    color: #a9b099;
    margin: 20px 0;
    font-size: 10px;
    /* text-shadow: 1px 1px #f5e7aa; */
}

.modal {
    /* width: 500px;
    height: 300px; */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h1 {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #f5e7aa;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.modal-btn {
    width: 50%;
    box-shadow: 2px 2px 2px 2px black;
    margin: 30px auto;
}

@media only screen and (max-width: 600px) { 
    .header {
        font-size: 20px;
    }

    .result {
        font-size: 13px;
        padding-top: 15px;
    }

    .modal-content {
        min-width: 300px;
    }
}